* {
    background-color:rgb(14, 13, 13);
}

.gridDisplay{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.area {
    padding-top: 20vh;  /* was 15 */
    text-align: center;
    width: 70%;
}

.area-left{
    padding-top: 24vh; /* was 30 */
    text-align: center; 
}

.picture {
    max-width: 300px;
    /* border: 5px outset rgb(100, 100, 100); */
    border: 5px outset rgb(49, 47, 47);
    border-radius: 25px;
}

body {
    font-family: Ubuntu;
}

h1.left{
    color: rgb(235, 233, 233);
    margin-bottom: 0;
    padding-bottom: 2px;
    font-weight: bold;
}

p.left {
    margin-top: 2px;
    color: rgb(126, 125, 125);
    font-weight: bold;
}

p.right {
    color: rgb(70, 69, 69);
    padding-left: 10%;
    text-align: left;
    margin-top: 2px;
}


h1.right {
    color: rgb(235, 233, 233);
    margin-bottom: 0;
    padding-bottom: 2px;
    font-weight: bold;
    text-align: left;
    padding-left: 10%;
}

ul {
    padding-left: 0;
}

li {
    margin: 5px 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {     
    color: #095484;
}
/* visited link */
a:visited {
    color: rgb(160, 157, 157);
}
/* mouse over link */
a:hover {
    color: #dee039;
}
/* selected link */
a:active {
    color: #800000;
}



